.secondSection {
    position:absolute;
    width: 1920px;
    height: 449px;
    top: 768px;
    left: 0;
}

.secondSection .header {
    position:absolute;
    width: 460px;
    height: 126px;
    top: 100px;
    left: 250px;

    font-family: Gilroy;
    font-size: 32px;
    line-height: 42px;

    letter-spacing: -0.5px;

    color: #151515;
}

.secondSection .underheader {
    position:absolute;
    width: 460px;
    height: 84px;
    top: 276px;
    left: 250px;

    font-family: Proxima Nova;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: -0.5px;

    color: #707070;

    opacity: 0.7;
}

.secondSection .Lefthalf {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 449px;
    background-color: #ffffff;
}

.secondSection .Righthalf {
    position: absolute;
    top: 0;
    right: 0;
    width: 960px;
    height: 449px;
    background-color: #F5F5F5;
}

.secondSection li {
    list-style-image: url('good.png');

    padding-inline-start: 1ch;
    
    font-family: Proxima Nova;
    font-size: 18px;
    line-height: 26px;

    letter-spacing: -0.5px;

    color: #333333;

    opacity: 0.7;
    
    
}


.secondSection .list p {
    font-family: Proxima Nova;
    font-size: 24px;
    line-height: 34px;
    margin: auto;

    letter-spacing: -0.5px;

    color: #151515;
}

.secondSection .list {
    position: absolute;
    width: 460px;
    height: 178px;
    top: 136px;
    right: 250px;
}

.secondSection img {
    position: absolute;
    width: 300px;
    height: 295px;
    
    top: 86px;
    left: 799px;

    z-index: 2;
}