.rotate1 {
    position: absolute;
    width: 2000px;

    left: -760px;
    top: 1063px;

    opacity: 0.1;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.rotate2 {
    position: absolute;
    width: 2000px;
    left: -280px;
    top: 1063px;

    opacity: 0.1;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.rotate3 {
    position: absolute;
    width: 2000px;
    left: 200px;
    top: 1063px;

    opacity: 0.1;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.rotate4 {
    position: absolute;
    width: 2000px;
    left: 680px;
    top: 1063px;

    opacity: 0.1;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.App {
    position:absolute;
    width: 1920px;
    height: 2000px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 78, 134, 0.8) 0%, rgba(10, 65, 104, 0.8) 100%);
}






 

